:root {
  --color-main-light: #ffffff;
  --color-main-dark: #121212;

  --color-primary-light: #dedede;
  --color-primary-dark: #121212;
  --color-primary-gray: #575757;

  --color-gold: #ab8956;
  --color-red: #9b4b4b;
}
